{% extends 'base.html' %}

{% block about %}class="active"{% endblock %}
{% block content_about %}
<div class="container"style="margin-top:50px;">
<div class="panel panel-success">
<div class="panel-heading" id='first'>About us</div>
 <div class="panel-body" >
 <p>My site addresschange.com is mainly for serving address change request when people are moving from one place to another either is private or business related. Moving is a hassle and pain full process and don’t forgets to mention it’s expensive!! Most of the website offering this kind of services including USPS charge lots of money just to file their address change request and that’s why addresschange.com is here for all of you. This site is basically to help everyone or anyone whoever is moving so they can change their address without paying any money and unnecessary trip to the postal office.
  Here, at addresschange.com I am not asking for money it’s free! I don’t need your credit card or debit card information that’s why user can feel safe and secure and no worries about hacking their credit card information. This is just my way of helping people.</p>
   
  <p>I am offering free of cast services to address change. 
 	This site is for general audience so my goal is to make this site easily assessable to everyone so people can easily navigate through different steps without scratching their head.</p> 
</p>

<p>This is family owned and we are dedicated to our customers. We can attest that moving doesn’t have to be stressful. With United Address Change on your side, you can look forward to your move!</p>
<p>we are proving address change service request with United States Postal Service on your behalf, expert guidance to file your address change with the Department of Motor Vehicle (DMV), IRS, Social Security and Voter’s Registration.</p>
<p>We are confident that our online address change services, moving guides, tips, resources and will help you  relocate safely. <p>
</div>
<div class="panel-heading">We Are Committed to Help You Relocate</div>
<div class="panel-body">
<p>Moving is a hassle and tedious process, that’s for sure. That doesn’t mean that it has to stress you out. In fact, a well-planned and executed move could bring a big smile to your face when you realize that your well-laid plans pay off via an expertly conducted relocation – one where you can actually enjoy relocating and exploring your new residence, neighborhood and locale.</p>
<p>We are 100% confident that our online address change services, moving guides, tips, resources and valuable array of home merchant offers and discounts can empower you to make your move with confidence and a wide smile on your face.</p>
</div>
<div class="panel-heading">Our Moral</div>
<div class="panel-body"><p>At United Address Change, we are committed to an upfront, totally transparent and an ethical and efficacious approach to conducting responsible business practice. Our simple terms and conditions are listed upfront and are easy to understand. We safeguard your personal and confidential information using the highest level of security and encryption measures to protect you. We greatly value giving back to society and are committed to donating 5% of all net profits to charitable organizations.</p>
<p>We believe that this timeless approach to philanthropy works well with our business model. As a Green Certified Business, we believe that our environment is of prime importance. We strive to be as green and energy efficient as possible in our operations.</p>
</div>
</div>
{% endblock %}
