{% extends "base.html" %}

{% block register %}class="active"{% endblock %}

{% block content_register %}

<div id="registerhead">
<style>
body {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 10px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin {
  margin-bottom: 10px;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
 
}
.container .register {
        width:200px;
        clear: both;
        
    }
.container .register input {
        width: 150%;
        clear: both;
    }
.container .errorlist {
   color: red;}    
    
</style>
</div>
<div id="registercontent">

<div class="container" style="margin-top:40px;">
<div class="panel panel-info">
<div class="panel-heading" id='first'>Please Take a moment to get register with us!!!</div>
<h2 style="margin-top:20px; text-align:center;">Please Register</h2>
<form class="form-signin" action="/accounts/register/" method="post" >{% csrf_token %}
<div class="register">{{form.as_p}}</div>
<input class="btn btn-lg btn-primary btn-block" type="submit" value="Register" />
</form>
</div>
</div>
</div>
{% endblock %}
