{% extends "base.html" %}

{% block content %}
<style>
<style>
h2{ font-size: 1.5em;color:#8B0000;; background-color:#D8D8D8;width:40%;margin-left:10px;text-align:center;border-style:solid;padding:5px; }
</style>
</style>
<div class="panel panel-danger" style="margin-top:50px;margin-left:20px;margin-right:20px;">
   <div class="panel-heading"><h2><center>Thanks for Submitting Your Information!</center></h2></div>
   
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-success">
                 <div class="panel-heading">Moving and Personal Information</div>
                 <div class="container">
				<h2>Moving Information</h2>
				<p><strong>Moving Type: </strong>{{ form_data.movingtype }}</p>
				<p><strong>Moving Date: </strong>{{ form_data.movingdate }}</p>
				<p><strong>Moving Status: </strong>{{form_data.movingstatus}}</p>
				<p><strong>Buisness: </strong>{{form_data.buisnessname}}</p>
				</div>
			<div class="container">
				<h2>Personal Information</h2>
				<p><strong>Title: </strong>{{form_data.title}}</p>
				<p><strong>First Name: </strong>{{form_data.first_name}}</p>
				<p><strong>Last Name: </strong>{{form_data.last_name}}</p>
				<p><strong>Phone_Number: </strong>{{form_data.phone_number}}</p>
				<p><strong>Exclusive Notification: </strong>{{form_data.exclusive_notification}}</p>
				<p><strong>Primary Email: </strong>{{form_data.primary_email}}</p>
				<p><strong>Secondary Email: </strong>{{form_data.secondary_email}}</p>
				<p><strong>Person Validation: </strong>{{form_data.person_validate}}</p>
				<p><strong>Person Authorization: </strong>{{form_data.person_authorization}}</p>
				</div>
            </div>
        </div>
        <div class="col-sm-6">
             <div class="panel panel-success">
                 <div class="panel-heading">Old and New Address</div>
                 <div class="container">
					<h2>Old Address</h2>
					<p><strong>Street: </strong>{{form_data.old_street}}</p>
					<p><strong>Apartment/Suite: </strong>{{form_data.old_apt_suite}}</p>
					<p><strong>City: </strong>{{form_data.old_city}}</p>
					<p><strong>State: </strong>{{form_data.old_state}}</p>
					<p><strong>ZipCode: </strong>{{form_data.old_zip_code}}</p>
				</div>
				<div class="container">
					<h2>New Address</h2>
					<p><strong>Moving to Own or Rent: </strong>{{form_data.own_rent}}</p>
					<p><strong>Street: </strong>{{form_data.new_street}}</p>
					<p><strong>Apartment/Suite: </strong>{{form_data.new_apt_suite}}</p>
					<p><strong>City: </strong>{{form_data.new_city}}</p>
					<p><strong>State: </strong>{{form_data.new_state}}</p>
					<p><strong>ZipCode: </strong>{{form_data.new_zip_code}}</p>
					</div>
            </div>
        </div>
        
    </div>
   </div>
</div>
{% endblock %}